html,
body {
  width: 100%;
  height: 100%;
}

a.link {
  color: @black;
  &:hover {
    color: @blue;
  }
}

:global {
  #app {
    display: flex;
    flex-flow: column;
    width: 100%;
    min-height: 100%;
  }

  .logo {
    vertical-align: top;
    width: 60px;
  }
  .pop-img {
    width: 96px;
    height: 96px;
  }
 
  .ant-tag {
    cursor: default !important;
  }
}
